.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
  }

  @media (max-width: 640px) {
    margin: 0;
    padding: 2rem 1.6rem;

    p {
      font-size: 1.6rem;
      margin-bottom: 1.8rem;
      margin-top: 1.8rem;
      padding: 0 3.8rem;
    }
  }
}
